
<div class="main-header">
    <div class="header-container">
        <!-- Logo e Nome do Sistema -->
        <a href="index.html" class="header-brand">
            <div class="logo-icon">
                <i class="fas fa-money-check-alt"></i>
            </div>
            <div class="brand-text">
                <p>Controle total das suas finanças</p>
            </div>
        </a>
        
        <!-- Área do Usuário -->
        <div class="user-area">
            <!-- Estado: Usuário Logado -->
            <div class="user-profile">
                <div class="user-info">
                    <span class="user-name">{{ request.user.username }}</span>
                </div>

            
                <a href="{% url 'fazer_logout' %}" class="logout-btn">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Sair</span>
                </a>
            </div>
        </div>
    </div>
</div>
    